.wrapper {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	position: fixed;
	align-items: center;
	justify-content: space-between;
}

.logo {
	height: 80px;
}

.menuList {
	display: flex;
}

.menuList a {
	margin-left: 40px;
	color: rgb(145, 145, 145);
	transition: color 0.2s;
}

.menuList a:hover {
	color: white;
}

.menuList .selected {
	color: white;
}
