.card {
	width: 50vh;
	height: 50vh;
	padding: 20px;
	border-radius: 30px;
	cursor: pointer;
}

.card .bigText {
	font-size: 52px;
	text-transform: capitalize;
}

.card .subText {
	font-size: 22px;
}

.imageWrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.imageWrapper span {
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
}

.card img {
	width: 180px;
	height: 180px;
	object-fit: contain;
	transition: 0.3s;
}

.card:hover img {
	transform: translate(0, -10px);
	-webkit-filter: drop-shadow(2px 20px 15px rgba(0, 0, 0, 0.3));
	filter: drop-shadow(2px 20px 15px rgba(0, 0, 0, 0.3));
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	z-index: 2;
	height: 100%;
}

.spriteImage {
	width: 50%;
	object-fit: contain;
}

@media (max-width: 480px) {
	.card .bigText {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 40vh;
	}
}
