.card {
	width: 50vh;
	height: 50vh;
	padding: 20px;
	border-radius: 30px;
	cursor: pointer;
	background-color: gray;
	position: relative;
}

.card .bigText {
	font-size: 52px;
	text-transform: capitalize;
}

.card .subText {
	font-size: 22px;
	text-transform: capitalize;
}

.imageWrapper {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}

.imageWrapper span {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100%;
	z-index: 2;
	position: absolute;
}

.imageWrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
	z-index: 1;
}

.contentWrapper {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	position: relative;
	z-index: 2;
	height: 100%;
}
