.itemWrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
}

.mediumItemWrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 50px;
	flex-wrap: wrap;
}

.mediumItemWrapper > div {
	margin: 20px;
	flex-grow: 1;
}

@media (max-width: 480px) {
	.itemWrapper {
		padding-left: 0px;
		padding-right: 0px;
	}
}
